<div ng-controller="chatController">
<div ng-hide="displayChat">
    <div class="enter-name">
        <p>enter your name:</p>
    </div>
    <input type="text" placeholder="name" class="input-form" ng-model="name">
    <button type="button" class="btn btn-primary" ng-click="showChat()">ok</button>
</div>
<div ng-show="displayChat">
    <div class="chatBody">
            <ul class="chatMessages">
                <li ng-repeat="msg in messages">{{msg.name}}:{{msg.message}}</li>
            </ul>
    </div>
    <div>
        <input type="text" placeholder="message" class="input-form" ng-model="newMessage">
        <button type="button" class="btn btn-primary" ng-click="addNewMessage()">send</button>
    </div>

</div>
</div>