.chatBody{
    height: 300px;
    width: 300px;
    border: 1px solid lightcyan;
    overflow-y: scroll;
}
.chat-button{
    margin-top: 20px;
}
.input-form{
    height: 33px;
}
.enter-name p{
margin: 10px 30px !important;
}